<div fxLayoutAlign="center center">
    <div fxFlex="0 1 1200px" fxFlex.md="0 1 92%" fxFlex.sm="0 1 94%" fxFlex.xs="0 1 96%" fxFlexOffset.md="4%" fxFlexOffset.sm="3%" fxFlexOffset.xs="2%"  class="main">

        <div>
            <mat-icon mat-button [matMenuTriggerFor]="menu" class="hamburger" fxShow="false" fxHide.sm="false" fxHide.xs="false">menu</mat-icon>
            <mat-menu #menu="matMenu">
                <div *ngFor="let navItem of navItems"> 
                    <button mat-menu-item [matMenuTriggerFor]="menu2" >{{ navItem.name }}</button>
                    <mat-menu #menu2="matMenu" >
                        <button mat-menu-item *ngFor="let value of navItem.values">{{value}}</button>
                    </mat-menu>
                </div>
            </mat-menu>

            <div>

            </div>

            <h1 fxFlex="0 1 100%" fxFlex.sm="0 1 95%" fxFlex.xs="0 1 95%" >Fifth Hack</h1>
        </div>

        <mat-toolbar>
            <div fxFlex="0 1 100%" fxShow="true" fxHide.sm="true" fxHide.xs="true" *ngFor="let navItem of navItems">
                <span mat-button [matMenuTriggerFor]="menu">{{ navItem.name }}</span>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let value of navItem.values">{{value}}</button>
                </mat-menu>
                <span class="example-spacer"></span>
            </div>
        </mat-toolbar>

        <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </div>
    <div fxFlex.md="4%" fxFlex.sm="3%" fxFlex.xs="2%"></div>
</div>

