/* You can add global styles to this file, and also import other style files margin-top: 74px; */

@font-face {
    font-family: "cocogoose";
    src: local("cocogoose"), url(./assets/fonts/cocogoose.ttf) format("truetype");
}

/* General */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p { font-size: 16px; }

.main { padding: 10px; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2) }
.content { padding: 0px 12px 0px; }

/* Navigation Bar */
.title { margin: 0px 0px 0px !important; cursor: pointer; }
.mat-toolbar { background-color: white; }
.mat-toolbar-row, .mat-toolbar-single-row { height: auto; text-align: center !important; }
.mat-toolbar .mat-menu-trigger { padding: 0px; cursor: pointer; } 
.example-spacer { flex: 1 1 auto; }
hr { border: 1px dashed lightgray; margin: 4px 4px 4px; }
.hamburger { font-size: 200%; height: auto !important; width: auto !important; }

/* Cards */
.card { width: 180px; height: 100px; cursor: pointer; border-style: dashed; border-width: 2px; border-color: lightgray; margin: 0px 4px 16px; border-radius: 2px !important; box-shadow: 0px 0px 0px !important; }
mat-card mat-icon { font-size: 36px !important; height: 36px !important; width: 36px !important; }

/* Popover */
.popover { position: absolute; border-style: dashed; border-width: 2px; border-color: lightgray; margin: 0px 0px 0px; border-radius: 2px !important; box-shadow: 0px 0px 0px !important; width: 320px; }
.tooltip { text-decoration: underline; cursor: pointer; }

/* Table */
table, th, td { border-style: dashed; border-width: 2px; border-color: lightgray; border-collapse: collapse; }
table { margin-bottom: 32px; }
th, td { padding: 5px; }

/* Section Styles */
:is(h1, h2, h3) { font-family: "cocogoose", fantasy !important; }
h1 { font-size: 36px !important; text-align: center; margin: 20px 0px 16px !important; }
h2 { font-size: 24px !important; margin: 0px 0px 8px !important; }
h3 { font-size: 24px !important; background-color: black; color: white; width: 300px; border-radius: 2px; text-align: center; }
h4 { font-size: 16px !important; }


